body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.heading-primary {
    display: inline-block;
    font-size: 3rem;
    color: $color-primary;
}

.heading-secondry {
    display: inline-block;
    color: $color-primary;
    font-size: 2rem;
    font-weight: 500;
}

.heading-tertiary {
    display: inline-block;
    color: $color-indigo--1;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}


// .heading-gradient {
//     background-image: linear-gradient(to right, $color, $color);
//     -webkit-background-clip: text;
//     background-clip: text;
//     color: transparent;
// }


.paragraph {
    font-size: 1.5rem;
    color: $color-primary;
    font-weight: 500;
}