.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-xxs {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-large {
  margin-bottom: 5rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

.u-margin-top-medium {
  margin-top: 2rem;
}

.u-margin-top-large {
  margin-top: 5rem;
}

.u-margin-right-small {
  display: inline-block;
  margin-right: 1.5rem;
}

.u-flex-grow-1 {
  flex-grow: 1;
}

.u-flex-end {
  display: flex;
  justify-content: flex-end;
}
