
// COLORS

$color-primary: #172b4d;


$color-white: #fff;

$color-grey--1: #f4f5f7;
$color-grey--2: #ebecf0;

$color-blue--1: #0747a6;
$color-blue--2: #0052cc;

$color-ligt-blue--1: #4fade6;

$color-indigo--1: #5e6c84;

$color-green--1: #65ba43;

$color-red--1: #e13c3c;









// GRID SYSTEM

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;