.page-project-settings {
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  flex: 1;
}

.page-form-create-issue {
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  flex: 1;
}

.page-kanban-board {
  padding: 2rem 3rem;
  width: 100%;
}