@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  z-index: 120;

  &__wrap {
    display: flex;
    justify-content: center;
    padding: 10rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: #fff;

    @include addMediaQuery(tablet) {
      width: 100%;
    }
  }
}
