@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

.form-settings {
  width: 64rem;

  @include addMediaQuery(tablet) {
    flex-basis: 64rem;
    width: auto;
  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
}
